.navbarclass {
  display: flex;
  background-color: #fbf3f3;
  border-bottom: 2px solid #bb7d3c;
  height: 130px;
  width: 100%;
  align-items: center;

  justify-content: center;
}

.navbarclass a {
  text-decoration: none;
}

.lightLogo {
  position: absolute;
  width: 130px;
  height: 130px;
  left: 0;
  top: 0;
  align-items: left;
}

.portugueseTitle {
  color: #bb7d3c;
  font-weight: bold;
  align-items: center;
  margin-right: 50px;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 75px;
  font-size:25px;
}

.spanishTitle {
  color: #bb7d3c;
  font-weight: bold;
  align-items: center;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-top: 75px;
  font-size: 25px;
}
.logosDiv {
  display: flex;
  background-color: #fbf3f3;
  position: absolute;
  right: 0;
  top: 10;
  height: 90px;

  justify-content: space-between;
  align-items: right;
}

.logosDiv img {
  height: 90px;
}
