.navbarclass {
  display: flex;
  background-color: #fbf3f3;
  border-bottom: 5px solid #bb7d3c;
  height: 110px;
  width: 100%;
  align-items: center;

  justify-content: center;
}

.lightLogo {
  position: fixed;
  width: 110px;
  height: 110px;
  left: 0;
  top: 0;
  align-items: left;
}

.portugueseTitle {
  color: #bb7d3c;
  font-weight: bold;
  align-items: center;
  margin-right: 50px;
}

.spanishTitle {
  color: #bb7d3c;
  font-weight: bold;
  align-items: center;
}
.logosDiv {
  display: flex;
  background-color: #fbf3f3;
  position: fixed;
  right: 0;
  top: 0;
  height: 110px;

  justify-content: space-between;
  align-items: right;
}
