.aboutPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.aboutPage h2 {
  color: rgb(187, 125, 60, 255);
  font-size: 2em;
  margin-bottom: 0.5em;
}

.aboutPage h3 {
  color: rgb(187, 125, 60, 255);
  font-size: 1.5em;
  margin-top: 1em;
}

.aboutPage a {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  display: block;
}

.aboutPage p {
  line-height: 1.6;
  font-size: 1.1em;
  margin-bottom: 1em;
  width: 60%;
  text-align: center;
}

.imgDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.imgDiv div {
  margin-right: 50px;

  display: flex;
  flex-direction: column;
}

.imgDiv img {
  width: 200px;
  height: 200px;
  margin-right: 20px;
}
